<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue</title> <!-- Page title -->

    <link rel="icon" type="image/png" href="/img/fix/favicon.png" />
    <link rel="stylesheet" href="/styles/styles.css"> <!-- Link to external CSS -->
</head>
<body>
    <!-- Header section with navigation links -->
    <header class="header">
        <div class="logo">
            <a href="/back"><i class="fas fa-comments"></i> Prog'Here</a> <!-- Logo and home link -->
        </div>
    
        {{if .Session.LoggedIn}} <!-- Check if the user is logged in -->
            {{if eq .Session.Rank "Moderator" "Administrator"}} <!-- Check if the user is a Moderator or Administrator -->
            <a href="/dashboard?view={{.Session.Username}}" class="dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
            {{end}}

            <a href="/logout" class="logout" onclick="return confirm('Are you sure you want to logout?')"><i class="fas fa-sign-out-alt"></i> Logout</a>
            <a href="/profile?name={{.Session.Username}}" class="profile"><i class="fas fa-user"></i> Profile</a>
        {{else}}
            <a href="/auth/login" class="login"><i class="fas fa-sign-in-alt"></i> Login</a>
            <a href="/auth/register" class="register"><i class="fas fa-user-plus"></i> Register</a>
        {{end}}
    </header>

    <!-- Display error message if there is an error -->
    {{if .Session.HasError}}
    <div class="overlay"></div>
        <div class="error">
            <form action="/reload" method="post">
                <i class="fas fa-exclamation-triangle"></i>
                <h2>Oops!</h2>
                <p>{{.Session.Message}}</p>
                <button type="submit" class="close-error">Close</button>
            </form>
        </div>
    {{end}}
    
    <!-- Categories container -->
    <div class="categories-container">
        <div class="categories-tableau">
            <div class="category-header"><i class="fas fa-list"></i><a href="/"> Topics</a></div>
            <div class="category-stats-header">
                <div class="category-stats">Comments</div>
                <div class="category-stats">Posts</div>
            </div>
        </div>

        <!-- Filter container for sorting categories -->
        <div class="filter-container">
            <div class="filter">
                <label for="sort">Sort by:</label>
                <select id="sort" name="sort" onchange="location.href = '/?global=' + this.value;">
                    <option value="">Choose a filter</option>
                    <option value="all">All</option>
                    {{range .Data.AllGlobals}}
                    <option value="{{.}}">{{.}}</option>
                    {{end}}
                </select>
            </div>
        </div>
    
        <!-- Loop through each global category -->
        {{range $global, $categories := .Data.Globals}}
            <h3 class="category-global">{{$global}}</h3>
            <div class="category-list">
                {{range $categories}}
                <div class="category">
                    <div class="category-info">
                        <a href="/categories?id={{.CategoryID}}" class="category-name">{{.Name}}</a>
                        <p class="category-description">{{.Description}}</p>
                    </div>
                    <div class="category-stats-count">
                        <div class="category-stats">{{.TotalComments}}</div>
                        <div class="category-stats">{{.TotalPosts}}</div>
                    </div>
                </div>                            
                {{end}}
            </div>
        {{else}}
            <p>No category available.</p> <!-- Message if no categories are available -->
        {{end}}
    </div>
        
    <script src="https://kit.fontawesome.com/0bcb48834b.js" crossorigin="anonymous"></script> <!-- FontAwesome kit for icons -->
</body>
</html>
